body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: #333;
}

#toolbox {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="number"],
select {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* CSS for the link */
#pretty-link {
  display: none; /* Hide the link by default */
}

@media only screen and (max-width: 768px) {
  /* Media query for smartphones */
  #pretty-link {
      display: block; /* Show the link for smartphones */
      position: fixed;
      top: 20px; /* Adjust this value to change the distance from the top */
      right: 20px; /* Adjust this value to change the distance from the right */
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
  }

  #pretty-link:hover {
      background-color: #0056b3;
  }
}
#pretty-link:hover {
  background-color: #0056b3;
}
  
