body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form div {
  margin-bottom: 10px;
}

label {
  display: inline-block;
  width: 150px;
}

#total-container {
  margin-top: 20px;
}

#total {
  font-weight: bold;
}

/* CSS for the link */
#pretty-link {
    display: none; /* Hide the link by default */
}

@media only screen and (max-width: 768px) {
    /* Media query for smartphones */
    #pretty-link {
        display: block; /* Show the link for smartphones */
        position: fixed;
        top: 50%; /* Adjust to vertically center */
        right: 50%; /* Adjust to horizontally center */
        transform: translate(50%, -50%); /* Center the link */
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
    }

    #pretty-link:hover {
        background-color: #0056b3;
    }
}

